html {
    background: rgb(252, 244, 247);
    font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
    -webkit-text-size-adjust: none;
}

.logo {
    margin-top: 100px;
    font-weight:normal;
    text-align: center;

    &__name {
        display: inline-block;
        font-size: 55px;
        color: #5c5c5c;
        transform: rotate(-8deg);

        @media screen and (min-width: 500px) {
            font-size: 90px;
        }
    }

    &__domain {
        position: relative;
        display: inline-block;
        top: 25px;
        left: -25px;
        font-size: 30px;
        transform: rotate(12deg);
        color: #fff;
        z-index: 2;

        @media screen and (min-width: 500px) {
            font-size: 48px;
            top: 25px;
            left: -45px;
        }

        &:before {
            content: "";
            position: absolute;
            display: inline-block;
            margin-top: -20px;
            margin-left: -20px;
            background: url(../images/hochitom-logo.svg);
            background-size: cover;
            width: 120px;
            height: 85px;
            z-index: -1;

            @media screen and (min-width: 500px) {
                width: 170px;
                height: 120px;
                margin-top: -25px;
                margin-left: -25px;
            }
        }
    }
}
